<div class="sidebar" [class.collapsed]="collapsed">
  <div class="brand">
    <div class="logo">A</div>
    <span class="name" *ngIf="!collapsed">Apexify</span>
  </div>
  <nav>
    <a class="active">
      <img src="../../assets/icons/dashboard.svg" alt="" />
      <span *ngIf="!collapsed">Dashboard</span>
    </a>
    <a>
      <img src="../../assets/icons/sales.svg" alt="" />
      <span *ngIf="!collapsed">Sales</span>
    </a>
    <a>
      <img src="../../assets/icons/trade.svg" alt="" />
      <span *ngIf="!collapsed">Trade</span>
    </a>
  </nav>
  <div class="bottom">
    <div class="dark-toggle">
      <span *ngIf="!collapsed">Dark Mode</span>
    </div>
  </div>
</div>
